.icon-holder{
    position: relative;
    border-radius: 50%;
    background-color: rgba(121,116,122,0.35);
    z-index: 10000;

    left: 263px;
    top: 4px;
    height: 250px;
    width: 250px;
    transition: all ease-out 0.5s;

}

.sub-icon{
    position: relative;
    top: 0;
    border-radius: 50%;
    background-color: rgba(121,116,122,0.35);
    z-index: 10000;
    height: 90px;
    width: 90px;
    transition: all ease-out 0.5s;
}

.sub-icon:hover{
    background: rgba(121, 116, 122, 0.7);
    box-shadow: 0px 0px 108px #fff;
}


.icon-holder:hover {
    background: rgba(121, 116, 122, 0.7);
    box-shadow: 0px 0px 108px #fff;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.subs{
    position: relative;
    top: 250px;
    left: -96px;
}
#contact-list a{
    text-decoration: none;
    color: red;
}

#contact-list{
    position: fixed;
    right: -229px;
    top: 40%;
    z-index: 10000;
    background-color: #2a485e;
    transition: all ease-out 0.5s;

}

#contact-list:hover{
    right: 0px;
    background: rgba(121, 116, 122, 0.7);
    box-shadow: 0px 0px 108px #fff;
}
#contact-list li{
    color: red;
}
#contact-list li{
    margin: 15px;
}

#packages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
    display: relative;
    position: relative;
    top: -135px;
}
.package-card{
    height: 400px;
    width: 300px;
    background: ghostwhite;
    margin: 25px;
    padding: 20px;
    border-radius: 8px;
    transition: all ease-out 0.5s;
}

.package-card:hover{
    background: rgba(181, 226, 250, 0.24);
    box-shadow: 0px 0px 10px #a5d8ba;
}

#packages-heading{
    text-align: center;
    font-size: 40px;
    font-weight:700;
    margin-top: 10px;
}

.package-container{
    background: #f2f2f2;
}

.package-image{
    height
}

.package-name{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 9px;
    margin-bottom: 10px;
}

.package-description{
    width: 260px;
    height: 100px;
    text-align: center;
}

.package-more-button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 30px;
    font-weight: 500;
    color: white;
    background-color: #7abd69;
    border-radius: 5px;
    border-width: 0px;
    font-size: 14px;
    transition: all ease-out 0.5s;
}
